
.mega {
    line-height: 1.65em;
    font-weight: bold;
    font-size: 12em;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 48%;
    top: 40%;
    margin-left: -150px;
    margin-top: -150px;
}

.bola {
    line-height: 1.65em;
    font-weight: bold;
    font-size: 27em;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 49%;
    top: 40%;
    margin-left: -150px;
    margin-top: -150px;
}

.boom {
    color: #eeeeee;
}
